@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: hsl(0, 0%, 100%);
        --foreground: hsl(222.2, 84%, 4.9%);

        --card: hsl(0, 0%, 100%);
        --card-foreground: hsl(222.2, 84%, 4.9%);

        --popover: hsl(0, 0%, 100%);
        --popover-foreground: hsl(222.2, 84%, 4.9%);

        --primary: hsl(222.2, 47.4%, 11.2%);
        --primary-foreground: hsl(210, 40%, 98%);

        --secondary: hsl(210, 40%, 96.1%);
        --secondary-foreground: hsl(222.2, 47.4%, 11.2%);

        --muted: hsl(210, 40%, 96.1%);
        --muted-foreground: hsl(215.4, 16.3%, 46.9%);

        --accent: hsl(210, 40%, 96.1%);
        --accent-foreground: hsl(222.2, 47.4%, 11.2%);

        --destructive: hsl(0, 84.2%, 60.2%);
        --destructive-foreground: hsl(210, 40%, 98%);

        --border: hsl(214.3, 31.8%, 91.4%);
        --input: hsl(214.3, 31.8%, 91.4%);
        --ring: hsl(222.2, 84%, 4.9%);

        --radius: 0.5rem;
    }

    .poppins {
        font-family: var(--font-poppins);
    }

    /* For WebKit (Chrome, Safari, etc.) */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Hide scrollbar colour */
    ::-webkit-scrollbar-corner {
        background: transparent;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }

    /* For Firefox */
    /* Firefox supports scrollbar-color but not scrollbar-width */
    /* You can use scrollbar-color for newer versions of Firefox */
    /* For older versions, you may need to use a library like "overlay-scrollbar" */
    /* More info: https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color */
    /* More info: https://github.com/dmuy/overlay-scrollbars */
    .scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
    }

    .scrollbar::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 5px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }

    .dark {
        --background: hsl(240, 10%, 4%);
        --foreground: hsl(210, 40%, 98%);

        --card: hsl(240, 10%, 4%);
        --card-foreground: hsl(210, 40%, 98%);

        --popover: hsl(240, 10%, 4%);
        --popover-foreground: hsl(210, 40%, 98%);

        --primary: hsl(240, 4%, 16%);
        --primary-foreground: hsl(210, 40%, 98%);

        --secondary: hsl(240, 4%, 16%);
        --secondary-foreground: hsl(210, 40%, 98%);

        --muted: hsl(240, 4%, 16%);
        --muted-foreground: hsl(210, 40%, 98%);

        --accent: hsl(240, 4%, 16%);
        --accent-foreground: hsl(210, 40%, 98%);

        --destructive: hsl(0, 62.8%, 30.6%);
        --destructive-foreground: hsl(210, 40%, 98%);

        --border: hsl(240, 4%, 16%);
        --input: hsl(240, 4%, 16%);
        --ring: hsl(240, 4%, 16%);
    }
}

@layer utilities {
    .border-i {
        border-color: black !important;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
